socket_client/node_modules
socket_client_angular_debug_events/node_modules
socket_server/node_modules
socket_server/.idea
betradar_client/.idea
betradar_client/target
betradar_client/betradar-client.iml
betradar_client/logs
betradar_unified_client/.idea
betradar_unified_client/target
/betradar_unified_client/betradar_unified_client.iml
socket_client/.idea
socket_client_angular_debug_events/.idea
/stress_tests/.idea
/stress_tests/stress_tests.iml
/stress_tests/target
betradar_client/src/main/resources/sdk.properties
betradar_client/src/main/resources/dbprofile.properties